.fa-times-circle {
    color: red;
}

.fa-check-circle {
    color: #3a5eff;
}

.close_position:hover {
    cursor: pointer;
}

.price-container {
    position: relative;
    width: 100%;
    height: 540px;
    background: white;
}

.price-container h6 {
    padding-top: 10px;
    color: white;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 1.1vw;
}

.price-container .header {
    text-align: center;
    border-bottom: 0.2rem solid #e0e0e0;
    background: #007bff;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.price-container .price {
    width: 90%;
    height: 16%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.price-container .price .rates {
    width: 90%;
    height: 100%;
    background: white;
    border-radius: 0.7rem;
    border: 0.1rem solid #bebebe;
}

.price-container .price .rates .header {
    height: 30%;
    font-size: 0.9vw;
    background: white;
    border-bottom: 0.1rem solid #cecece;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    text-align: center;
    font-weight: bold;
}

.price-container .price .rates .rates-container {
    font-size: 0.9vw;
    height: 50%;
    background: white;
    border-bottom: 0.1rem solid #cecece;
}

.price-container .price .rates .rates-container .sell-rates {
    float: left;
    width: 50%;
    height: 100%;
    border-right: 0.1rem solid #cecece;
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.price-container .price .rates .rates-container .buy-rates {
    float: right;
    width: 50%;
    height: 100%;
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.price-container .price .rates .pips {
    height: 20%;
    background: white;
    font-size: 0.8vw;
    color: black;
    text-align: center;
    font-weight: bold;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.instrument {
    margin-right: -4.8px;
    width: 120px;
    height: 38px;
}

.price-container .price .rates .header:hover {
    cursor: pointer;
    background: rgb(224, 223, 223);
}

.mydivheader {
    padding: 5px;
    cursor: move;
    z-index: 10;
    color: #fff;
    width: 20px;
    height: 35px;
    float: left;
}

.sell_order_button {
    z-index: 10;
    color: #fff;
    width: 120px;
    height: 35px;
    float: right;
    cursor: pointer;
    background: #ffb9b9;
    border: 1px solid #ffb9b9;
}

.buy_order_button {
    z-index: 10;
    color: #fff;
    width: 120px;
    height: 35px;
    float: right;
    cursor: pointer;
    background: #9ecdfc;
    border: 1px solid #9ecdfc;
}

.spread_order_button {
    z-index: 10;
    color: #fff;
    width: 120px;
    height: 35px;
    float: right;
    background-color: #fff;
}

.spread_order_button span:hover {
    cursor: default;
}

.f_control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 0px;
    padding-right: 0px;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 1px;
}

.sell_order_button .sell_btn,
.buy_order_button .buy_btn,
.spread_order_button .spread_btn {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.sell_order_button:hover {
    background: #fdaeae;
}

.buy_order_button:hover {
    background: #8fc4fa;
}

.span-title-sell {
    display: block;
    width: 100%;
    height: 40%;
    word-break: keep-all;
    text-align: center;
    color: #730000;
    font-size: 0.8vw;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

.span-title-buy {
    display: block;
    width: 100%;
    height: 40%;
    word-break: keep-all;
    text-align: center;
    color: #003273;
    font-size: 0.8vw;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

.span-title-spread {
    display: block;
    width: 100%;
    height: 40%;
    word-break: keep-all;
    text-align: center;
    color: #6300BF;
    font-size: 0.8vw;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

.span-data {
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 0.9vw;
    color: black;
    font-weight: bold;
}

.question-btn {
    border: none;
    color: black;
    height: 38px;
    width: 40px;
    padding: 0px 0px 0px 10px;
    font-size: 27px;
    cursor: pointer;
    background: #f1f7fc;
    border-radius: 30rem;
    float: right;
}

.fa-question-circle {
    cursor: pointer;
}

.account {
    margin-top: 5%;
}

.account-table .table {
    margin-bottom: 0px;
}

.account-table .table th {
    text-align: center;
    font-size: 1.1vw;
    padding: 0.5rem;
    background: #007bff;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
}

.account-table .table td {
    font-size: 0.9vw;
    padding: 0.5rem;
    width: 50%;
}

@media screen and (min-width: 1441px) {
    .account-table .table td,
    .price-container .price .rates .header,
    .price-container .price .rates .rates-container,
    .span-data,
    .order-table .table thead th,
    .order-table .table tbody td {
        font-size: 14px !important;
    }
    .span-title-sell,
    .span-title-buy,
    .span-title-spread {
        font-size: 13px;
    }
    .price-container .price .rates .pips {
        font-size: 12px;
    }
    .account-table .table th,
    .price-container h6 {
        font-size: 16px
    }
}

.account-table .table tr td:first-child {
    font-weight: bold;
    text-align: right;
}

.account-section {
    margin-bottom: 45vh;
    margin-left: 0px;
    margin-top: 0px;
}

.price-section {
    margin-bottom: 0px;
    height: 540px;
    margin-left: 0px;
    margin-top: -315px;
}

.order {
    margin-top: 1.5%;
}

.order .order-customization {
    width: 98%;
    height: 200px;
}

.order-table .table {
    margin-bottom: 0px;
    height: 50%;
}

.order-table .table tbody {
    height: 150px;
    overflow-y: auto;
    width: 100%;
}

.order-table .table th {
    text-align: center;
    font-size: 0.9vw;
    padding: 0.5rem;
    color: white;
    background: #007bff;
}

.order-table .table th:last-child {
    border-top-right-radius: 0.25rem;
}

.order-table .table th:first-child {
    border-top-left-radius: 0.25rem;
}

.order-table .table tbody td {
    font-size: 0.9vw;
    padding: 0.5rem;
    text-align: center;
    color: black;
    background: white;
}

.order-table .table-fixed thead,
.order-table .table-fixed tbody,
.order-table .table-fixed tr,
.order-table .table-fixed td,
.order-table .table-fixed th {
    display: block;
}

.order-table .table-fixed tbody td,
.order-table .table-fixed tbody th,
.order-table .table-fixed thead>tr>th {
    float: left;
    position: relative;
}

.order-section {
    height: 225px;
    max-height: 225px;
    width: 1000px;
}

.lower-container {
    height: 225px;
    margin-right: 10px;
    margin-left: 10px;
}

.upper-container {
    margin-top: 110px;
    height: 580px;
    margin-right: 10px;
    margin-left: 10px;
}

.upper-row-container {
    height: 635px;
}

.lower-row-container {
    height: 230px;
}

.chart-section {
    height: 600px;
    min-height: 600px;
    width: 1000px;
}

.chart-section-container {
    width: 100%;
    height: 88%;
    margin-top: 1%;
    padding-left: 5px;
}

.chart-container-btn {
    height: 6%;
    width: 100%;
    margin-top: 1%;
}

.chart-container-btn .form-control {
    float: left;
}

.chart-container-btn .reset-btn {
    margin-left: 0.5px;
    max-width: 6.33333%;
}

.chart-error-label {
    font-size: 12px;
    display: table-cell;
    text-align: center;
    width: 50%;
    padding: 0px 10px 0px 0px;
    color: red;
}

.chart-align-btn {
    padding: 1rem 0rem 0rem 0rem;
}

.introjs-floating {
    width: 300px !important;
}

.rate-active .header {
    background-color: #fdeed6 !important;
}

.rate-active .sell-rates {
    background-color: #ffdada !important;
}

.rate-active .buy-rates {
    background-color: #c1e0fd !important;
}

.rate-active .pips {
    background-color: #e5d1ff !important;
}

.introjs-tooltip {
    direction: ltr !important;
}

.preloader {
    align-items: center;
    background: rgba(241, 247, 252, 1);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
}

.account .customization {
    width: 90%;
}

.order-table .col1 {
    width: 8%;
    text-align: center;
}

.order-table .col2 {
    width: 10%;
    text-align: center;
}

.show-again {
    margin-top: 0.65em;
}