/* Enter Chat */

.adjusted-chat-height {
    height: 350px !important;
    width: 300px !important;
}

.modal-header {
    background: #007bff;
}

.modal-header .modal-title {
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}


/* Chatroom */

.chat-container {
    top: 0px;
    left: 0px;
}

.text-small {
    font-size: 0.9rem;
}

.messages-box,
.chat-box {
    height: 510px;
    overflow-y: scroll;
}

.rounded-lg {
    border-radius: 0.5rem;
    max-width: 800px;
    max-height: 500px;
    border: 1px solid #dee2e6;
}

.chat-header {
    text-align: center;
    background: #007bff;
    height: 40px;
    width: 100%;
    border-bottom: 0.1rem solid #e0e0e0;
}

.chat-header h5 {
    padding-top: 10px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    width: 95%;
    height: 100%;
    float: left;
    padding-left: 5%;
}

.avatar-size {
    font-size: 20px;
}

.rmv-border {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.leave-border {
    border-bottom: 1px solid #ced4da;
}

.chat-name {
    font-size: 14px;
    color: rgb(0, 68, 255);
    font-weight: bold;
    padding-bottom: 2px;
}

.minimize {
    /* float: right; */
    color: white !important;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 2.1rem !important;
}

.minimize:hover {
    color: #e0e0e0;
}

.sender {
    text-align: right;
}

#join-btn {
    text-decoration: none;
    text-align: center;
}

.input-group button:focus,
.input-group input:focus {
    box-shadow: none !important;
}

.chat-name-error {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: red;
}

.fixed-position {
    position: fixed;
    right: 30px;
    top: 30px;
}

.calculator-icon-box {
    width: 55px;
    height: 55px;
    background-color: #1886d6;
    border-radius: 50%;
    position: fixed;
    right: 110px;
    top: 30px;
    padding: 5px;
}

.calculator-icon-box .rectangle {
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.chat-icon-box {
    width: 55px;
    height: 55px;
    background-color: #1886d6;
    border-radius: 50%;
}

.chat-icon-box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.notify {
    animation: animSpin 1.8s ease-in-out forwards infinite, animFade 1.8s ease forwards infinite;
}

@keyframes animSpin {
    0% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(0deg);
        transform: perspective(120px) rotateY(181deg) rotateX(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(0deg) rotateX(0deg);
        transform: perspective(120px) rotateY(0deg) rotateX(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg);
        transform: perspective(120px) rotateY(181deg);
    }
}

@keyframes animFade {
    0% {
        opacity: .95;
    }
    100% {
        opacity: 1;
    }
}