.funds-container {
    width: 50%;
    height: 500px;
    margin-bottom: 150px;
    margin-top: 150px;
    box-shadow: 0px 0px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    position: relative
}

.funds-header {
    text-align: center;
    background: #007bff;
    color: white;
    padding: 15px;
    font-size: 28px;
    font-weight: bold;
    height: 15%;
}

.main-funds-header {
    text-align: center;
    background: #007bff;
    color: white;
    padding: 15px;
    font-size: 28px;
    font-weight: bold;
    height: 15%;
}

.funds-subcontainer {
    width: 100%;
    height: 85%;
    background-color: white;
    margin-top: none;
}

.form-group1 {
    padding: 1rem 1rem 0rem 1rem;
    margin: none;
    height: 90px;
    text-align: left;
}

#leverage-id,
#amount_input {
    width: 70%;
    float: left;
}

.form-group1 .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 40px;
}

.funds-subcontainer .funds-left-div {
    width: 50%;
    height: 100%;
    margin: auto;
    float: left;
}

.funds-subcontainer .funds-right-div {
    float: left;
    width: 50%;
    height: 100%;
}

.edit-btn {
    float: right;
    font-size: 16px;
    padding: 1.5%;
    color: black;
    background: rgb(99, 255, 94);
    border: none;
    border-radius: 4px;
    box-shadow: none;
    text-shadow: none;
    width: 70px;
    outline: none !important;
    text-align: center;
}

.edit-btn:hover,
.edit-btn:active {
    text-decoration: none;
    background: rgb(82, 252, 77);
    color: black;
}

.funds-right-div .btn-primary {
    background: #0066cc;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    margin-bottom: 5%;
    text-shadow: none;
    width: 180px;
    outline: none !important;
}

.funds-right-div .btn-primary:hover,
.funds-right-div form .btn-primary:active {
    background: #005cbf;
}

.funds-right-div .btn-second {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    width: 180px;
    outline: none !important;
}

.funds-right-div .btn-second:hover,
.funds-right-div .btn-second:active {
    background: #eb3b60;
}

.btn-div {
    padding-left: 1rem;
}

.align-btn {
    padding: 2rem 0rem 0rem 0rem;
}

.alert-span {
    font-size: 14px;
    color: red;
}

.leverage {
    height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.notice-list li {
    font-size: 14px;
}

.tick-span {
    color: greenyellow;
    margin: 10px;
}

.cross-span {
    color: red;
    margin: 10px;
}

.error-label {
    font-size: 14px;
    display: table-cell;
    text-align: left;
    width: 50%;
    padding: 0px 10px 0px 10px;
    color: red;
}

.beautiful.bs-callout {
    padding: 15px 30px 15px 15px;
    margin: 20px 0;
    border-left-style: solid;
    border-left-width: 5px;
    border-radius: 0px;
}

.beautiful.bs-callout p:last-child {
    font-size: 13px;
    margin: 0px;
}

.beautiful.bs-callout+.beautiful.bs-callout {
    margin-top: -5px;
}

.beautiful.bs-callout-info {
    background-color: #f5f8fd;
    border-left-color: #8bb4e7;
    color: #010407;
}

.beautiful.bs-callout-info h5 {
    color: #1b809e;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}