.funds-container{
    width:40%;
    height:800px;
    margin:auto;
    margin-top: 2%;
}

.funds-header{
    text-align:center;
    background: #030C5D;
    color:white;
    padding:10px;
    font-size: 28px;
    font-weight: bold;
    height:8%;
    margin-top: 1%;
}

.funds-subcontainer{
    width:100%;
    height:60%;
    border:1px solid black;
    background-color: white;
}

.funds-subcontainer .rTable { 
    display: table;
    color:black;
    width:100%;
    height:60%;
    margin:auto;
  }
  .funds-subcontainer .rTableRow { 
    display: table-row; 
    width:100%;
  }

  .funds-subcontainer .rTableCell_label{ 
    display: table-cell;
    text-align:right;
    width:50%;
    padding:10px 50px 10px 10px;
    font-weight: bold;
    font-size:24px;
  }

  .funds-subcontainer .rTableCell_data{ 
    display: table-cell;
    text-align:left;
    width:50%;
    padding:10px 10px 10px 50px;
    font-weight: normal;
    font-size:22px;
  }

  .btn-margin{
      margin-top:4%;
  }

  .edit-btn{
      padding-left:30px;
      font-size: 20px;;
  }

  .a-btn{
    padding-left:10px;
    font-size:20px;
  }

  .select-lev{
    font-size: 18px;
  }

  option[value="placeholder"][disabled] {
    display: none;
  }
  
  .alert-span{
    font-size: 14px;
    color: red;
  }

  .leverage{
    height:100px;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount{
  font-size:18px;
  width:40%;
}

.alert-infobox {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  position: relative;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: .25rem;
  width:50%;
  margin: auto;
}

.btn-withdrawal{
  margin-top:2%;
}

.alert-heading{
  padding:0px;
}

.notice-list li{
  font-size: 14px;
}

.tick-span{
  color:greenyellow;
  margin-left: 10px;
}

.cross-span{
  color:red;
  margin-left: 10px;
}

.error-label{
  font-size: 12px;
  display: table-cell;
  text-align:left;
  width:50%;
  padding:0px 10px 0px 50px;
  color: red;
}

