@media (min-width:992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.gradient {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    color: #fff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 2;
    height: 19px;
    min-height: 19px;
    box-shadow: 0px 4px 10px 10px rgb(0 0 0 / 10%);
    padding: 0px;
}

.footer p {
    font-family: Lato, sans-serif;
    font-size: 80%;
}

.body-background {
    background: #f1f7fc;
}

html {
    font-family: Lato, sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

.navbar-height {
    height: 66px;
}

.navbar-logo {
    height: 60px;
    width: 40px;
    margin-bottom: 15px;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
}

@media (min-width: 1200px) {
    .right-align {
        margin-left: 0% !important;
        margin-right: 0% !important;
        max-width: 90% !important;
    }
}

.chat-div {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
}

.chat {
    cursor: pointer;
    color: white;
}

.remove-decoration {
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
}

.calculator-tab {
    padding-bottom: 0px !important;
}

.calculator-content {
    padding: 1rem;
    height: 92%;
}

.calculator-content .tab-contents {
    background-color: #f8f9fa;
    width: 100%;
    height: 420px;
    overflow-y: auto;
    padding: 5px;
}

.calculator-left-div {
    width: 45%;
    height: 100%;
    float: left;
    text-align: left;
    padding: 5px;
}

.calculator-right-div {
    width: 55%;
    float: right;
    text-align: left;
    padding-left: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}