    .modal-content-buy-sell {
        width: 400px !important;
        height: 500px !important;
    }
    
    .modal-content .modal-header .close {
        color: white;
        opacity: 1 !important;
    }
    
    .modal-content-buy-sell .close:hover,
    .modal-content-buy-sell .close:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    
    .modal-content-buy-sell .modal-header {
        background: #007bff;
        padding: 8px 20px 8px 20px;
        border-bottom: 1px solid #e9ecef;
    }
    
    .modal-content-buy-sell .modal-header .modal-title {
        color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
    }
    
    .modal-content-buy-sell .modal-body {
        height: 90%;
        width: 100%;
        padding: 1rem 0 1rem 0 !important;
    }
    
    .modal-content-buy-sell .modal-body .upper-body {
        width: 100%;
        height: 50%;
    }
    
    .modal-content-buy-sell .modal-body .lower-body {
        width: 100%;
        height: 55%;
    }
    
    .modal-body .upper-body .instrument-title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        width: 100%;
        margin-bottom: 2%;
    }
    
    .upper-body .order-container {
        width: 70%;
        height: 65px;
        margin: auto;
    }
    
    .upper-body .order-container .order-sell {
        float: left;
        width: 50%;
        height: 100%;
        padding: 10px;
        color: black;
        text-align: center;
        border: 2px solid #ced4da;
        border-bottom-left-radius: 13px;
        border-top-left-radius: 13px;
    }
    
    .upper-body .order-container .order-buy {
        float: right;
        width: 50%;
        height: 100%;
        padding: 10px;
        color: black;
        text-align: center;
        font-weight: bold;
        border: 2px solid #ced4da;
        border-bottom-right-radius: 13px;
        border-top-right-radius: 13px;
        border-left: none;
    }
    
    .buy-span-title {
        display: block;
        width: 100%;
        height: 42%;
        word-break: keep-all;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    
    .buy-span-data {
        display: block;
        width: 100%;
        height: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    
    .order-spread {
        width: 100%;
        height: 14%;
        align-content: center;
        margin-top: 3%;
    }
    
    .order-spread .spread-span-data {
        display: block;
        margin: auto;
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 16px;
        border: 2px solid #ced4da;
        font-weight: bold;
        border-radius: 8px;
    }
    
    .lower-title {
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
        height: 20%;
        width: 100%;
        font-size: large;
        border-top: 1px solid #dfe7f1;
        border-bottom: 1px solid #dfe7f1;
    }
    
    .lower-body .units {
        margin-left: 15%;
        margin-top: 3%;
    }
    
    .lower-body .unit-remark {
        margin-top: 0px;
        font-size: small;
    }
    
    .order-container .order-btns {
        color: black;
        cursor: pointer;
        text-decoration: none;
    }
    
    .upper-body .position-units {
        height: 30%;
        width: 100%;
        border-bottom: 1px solid #ced4da;
    }
    
    .position-units .units-label {
        float: left;
        width: 50%;
        height: 100%;
        padding: 10px;
        color: black;
        text-align: right;
        font-size: 20px;
        font-weight: bold;
    }
    
    .position-units .units-quantity {
        float: right;
        width: 50%;
        height: 100%;
        padding: 10px;
        color: black;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    
    .upper-body .second-units-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
    }
    
    .upper-body .position-order-units {
        margin-left: 12%;
    }
    
    .units-container {
        width: 80%;
        height: 15%;
        margin: auto;
    }
    
    .units-container .units-percentage {
        float: left;
        width: 25%;
        height: 100%;
        color: black;
        text-align: center;
        font-size: 18px;
        border: 1px solid #ced4da;
        border-right: none;
        padding: 4px 0 4px 0;
    }
    
    .units-container .left-units-percentage {
        float: left;
        width: 25%;
        height: 100%;
        color: black;
        text-align: center;
        font-size: 18px;
        border: 1px solid #ced4da;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 4px 0 4px 0;
    }
    
    .units-container .right-units-percentage {
        float: left;
        width: 25%;
        height: 100%;
        color: black;
        text-align: center;
        font-size: 18px;
        border: 1px solid #ced4da;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 4px 0 4px 0;
    }
    
    .units-percentage:hover,
    .left-units-percentage:hover,
    .right-units-percentage:hover {
        cursor: pointer;
        background-color: rgb(190, 216, 255);
    }
    
    .lower-body .detail-container {
        width: 80%;
        height: 40%;
        margin: auto;
        margin-top: 3%;
        background-color: whitesmoke;
    }
    
    .detail-container .title-label {
        float: left;
        width: 50%;
        height: 50%;
        padding: 10px;
        color: black;
        text-align: right;
        font-size: 15px;
        font-weight: bold;
    }
    
    .detail-container .data-label {
        float: right;
        width: 50%;
        height: 50%;
        padding: 10px;
        color: black;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }
    
    .tick-check {
        float: right;
        margin-top: 5%;
        margin-right: 10%;
        font-size: 20px;
        color: greenyellow;
    }
    
    .cross-check {
        float: right;
        margin-top: 5%;
        margin-right: 10%;
        font-size: 20px;
        color: red;
    }
    
    .unit-check {
        width: 100%;
        height: 50px;
    }
    
    .margin-check {
        width: 100%;
        height: 30px;
        margin-top: 2%;
        text-align: center;
    }
    
    .margin-check .label {
        float: left;
        margin-left: 18%;
        font-size: large;
        font-weight: bold;
    }
    
    .margin-check .value {
        float: left;
        margin-left: 5%;
        font-size: large;
    }
    
    .close-check {
        width: 100%;
        height: 28%;
        padding-left: 5%;
    }
    
    .close-check .tick-close {
        float: right;
        margin-top: 6%;
        margin-right: 12%;
        font-size: 20px;
        color: greenyellow;
    }
    
    .close-check .cross-close {
        float: right;
        margin-top: 6%;
        margin-right: 12%;
        ;
        font-size: 20px;
        color: red;
    }
    
    #order-units {
        float: left;
    }
    
    #position-total-units {
        float: left;
        margin-top: 3%;
    }